.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem; /* Reduced padding for smaller navbar */
    background-color: #f8f9fa;
}

.navbar-left,
.navbar-right {
    display: flex;
    gap: 2rem; /* Increased gap between buttons */
}

.navbar-link {
    text-decoration: none;
    color: #000;
}

.navbar-button {
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: inherit;
    text-decoration: none;
    padding: 0.5rem 1rem; /* Ensure consistent button size */
    box-sizing: border-box;
}

.navbar-button:hover {
    background-color: #e0e0e0;
    border-radius: 6px;
    box-sizing: border-box;
}
